:root {
    --main-color: #333;
    --decore-color: #cfff24;
    --background-color: #f4f4f4;
    --font-size: 16px;
    --max-width: 1400px;
    --padding: 10px;
    --border: 1px solid var(--main-color);
    --header-height: 100px;
    --footer-height: 200px;

    @media (min-width: 678px) {
        --padding: 10px 30px;
        --header-height: 70px;
        --footer-height: 120px;
    }

    @media (min-width: 1400px) {
        --padding: 10px 40px;
        --header-height: 70px;
        --footer-height: 120px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: var(--font-size);
}

header,
footer {
    max-width: var(--max-width);
    padding: var(--padding);
    border: var(--border);
    margin: 0 auto;
}

header {
    height: var(--header-height);
    background: var(--main-color);
}

footer {
    background: var(--main-color);
    height: var(--footer-height);
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: var(--max-width);
    border: var(--border);
    margin: 0 auto;
}


.banner, .profile, .show{
    height :500px;
    width : 100%;
    background: yellow;
    ul{
        list-style: none;
    }

    .cards-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        height: 360px;
        overflow: hidden;

        .slide {
            transition: all 1.5s ease-in-out; /* Плавный переход между слайдами */
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 360px;
            top: 0;
            overflow: hidden;
            padding: 20px;
            left: 50%; /* Центрируем слайды */
            transform: translateX(-50%);
            z-index: 1;
            display: none; /* Скрываем по умолчанию */

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .slide.prev {
            left: -360px; /* Слайд слева */
            display: block;
            opacity: 1;
            z-index: 2;
        }

        .slide.active {
            left: 50%;
            display: block;
            opacity: 1;
            transform: translateX(-50%);
            z-index: 3;
            background: blue;
        }

        .slide.next {
            left: 360px; /* Слайд справа */
            display: block;
            opacity: 1;
            z-index: 2;
        }
    }

    .bullets-list {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .bullet {
            display: inline-block;
            margin: 0 5px;

            .button {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: orange;
                border: none;
                cursor: pointer;
                transition: background 0.5s;
            }
        }

        .bullet.prev .button {
            background: red;
        }

        .bullet.active .button {
            background: blue;
        }

        .bullet.next .button {
            background: red;
        }
    }
}